/* =========================
   AUTH MODAL
========================= */

.address-modal {
    position: fixed;
    inset: 0;

    z-index: 9999;

    opacity: 0;
    visibility: hidden;

    transition:
        opacity 0.35s ease,
        visibility 0.35s ease;
}

/* SHOW */
.address-modal.show {
    opacity: 1;
    visibility: visible;
}

.address-modal-overlay {
    position: absolute;
    inset: 0;

    background: rgba(15, 23, 42, 0.45);

    backdrop-filter: blur(10px);

    opacity: 0;

    transition: opacity 0.35s ease;
}

.address-modal.show .address-modal-overlay {
    opacity: 1;
}

.address-modal-box {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    max-width: 500px;

    background: #fff;

    border-radius: 30px;

    padding: 40px;

    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.18);

    /* animation */
    opacity: 0;

    transform: translate(-50%, -44%) scale(0.92);

    transition:
        transform 0.38s cubic-bezier(0.22, 1, 0.36, 1),
        opacity 0.35s ease;
}

.address-modal.show .address-modal-box {
    opacity: 1;

    transform: translate(-50%, -50%) scale(1);
}

.close-address-modal {
    position: absolute;
    top: -14px;
    right: -14px;

    width: 44px;
    height: 44px;

    border: none;
    border-radius: 50%;

    background: #0f172a;
    color: #fff;

    font-size: 26px;

    cursor: pointer;

    transition: 0.25s;
}

.close-address-modal:hover {
    transform: rotate(90deg);
}
